/* Common Styles */
*{
    margin: 0px;
}
/* header */
header{
    background: rgba(255, 144, 14, 0.1);
}

/* Nav Bar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
/* menu */
.menu{
    display: flex;
    justify-content: space-between;
}

.menu-item{
    margin-right: 16px;
}

@media only screen and (max-width:576px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    
}